.about_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
    
}
.about_img{
    width: 350px;
    border-radius:1.5rem ;
    justify-self: center;
    border: 2px solid var(--title-color-dark);
    height:250px;
    
    
    
}
.about_info{
    display: grid;
    grid-template-columns: repeat(3, 180px);
    gap:0.5rem;
    margin-bottom: var(--mb-2);
    margin-top: 30px;
    justify-content: center;
}
.about_box1,.about_box2,.about_box3{
    background-color: var(--container-color);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius:0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}
.about_icon1,.about_icon2, .about_icon3{
    font-size: 1.5rem;
    color:var(--title-color);
    margin-bottom: var(--mb-0-5);
}
.about_title{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}
.about_subtitle{
    font-size: var(--tiny-font-size);
    padding: 0 0rem 0 0;
    margin-bottom: var(--mb2-5);
}
.about_description{
  margin-left: 120px;
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}
.button{
  margin-left: 120px;
  margin-top: 30px;
}
/* For Large devices */
@media screen and(max-width:992px){
  .about_container{
    grid-template-columns: 1fr;
    row-gap:2.5rem;
  } 
  .about_img{
    width:220px;
  }
  .about_box1,.about_box2,.about_box3{
    padding: 0.75rem 0.5rem;
  }
  .about_data{
    text-align:center;
  }
  .about_info{
    justify-content: center;
  }
  .about_description{
    padding: 0 5rem;
    margin-bottom: 2rem;
  }
}
/* For Medium devices */
@media screen and(max-width:576px){
    .about_info{
        grid-template-columns: repeat(3 1fr);
    }
    .about_description{
        padding:0;
    }
}
/* For Small devices */
@media screen and(max-width:350px){
    .about_info{
        grid-template-columns: repeat(2 1fr);
    }
    
    
}
